/****************************************
 * Colors
 ****************************************/

$color-white:         #ffffff;
$color-black:         #000000;
$color-gray:          #333333;
$color-blue:          #43a3f9;
$color-dark-blue:     #1490ff;
$color-purple:        #987fc3;
$color-red:           #D11818;
$color-dark-red:      #800000;
$color-green:         #5cd65c;